---
---

@import "vendor/breakpoint/breakpoint"; // media query mixins
@import "variables"; // theme defaults land here
@import "mixins";
@import "vendor/susy/susy";

/* >>> Add your overrides RIGHT HERE <<< */

$background-color: #F8F9FA !default;
$text-color:       #343A40 !default;

$link-color:             #17A2B8 !default;
$link-color-hover:       #138496 !default;
$link-color-visited:     #138496 !default;
$accent-color:           #17A2B8 !default;

$masthead-background-color: #212529 !default;
$masthead-link-color:       #F8F9FA !default;
$masthead-link-color-hover: #17A2B8 !default;

$footer-background-color:   #212529 !default;
$footer-text-color:         #F8F9FA !default;
$footer-link-color:         #17A2B8 !default;

$code-background-color: #E9ECEF !default;
$code-text-color:       #212529 !default;

$border-color: #CED4DA !default;

/* >>> end overrides <<< */

@import "reset";
@import "base";

@import "utilities";
@import "animations";
@import "tables";
@import "buttons";
@import "notices";
@import "masthead";
@import "navigation";
@import "footer";
@import "syntax";

@import "forms";

@import "page";
@import "archive";
@import "sidebar";

@import "vendor/font-awesome/fontawesome";
@import "vendor/font-awesome/solid";
@import "vendor/font-awesome/brands";
@import "vendor/magnific-popup/magnific-popup";
@import "print";
